.env
.env.*
!.env.example

vendor/
node_modules/

*.log
.DS_Store
Thumbs.db

.idea/
.vscode/

backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
